#exportPattern("^[[:alpha:]]+")
## from annotation.R
export( "getAnnotation", "getAnnotationForIDs" )
## from convertTxt2Xls.R
export( "convertTxt2Xls" )
## from generic-category.R
export( "hyperGGeneric" )
## from http-file-access.R
export( "read.table.from.http" )
export( "load.from.http" )
## from pastedmatch.R
export( "pastedmatch" )
## from probesetSelection.R
export( "getRepPS" )
## from category-plot.R
export( "plotCategoryBar" )
export( "plotCategoryBars" )
## from invertColor.R
export( "modColor" )
exportMethods( "invertColor" )
exportMethods( "shiftColor" )

importFrom("WriteXLS", WriteXLS)
##import( "multtest" )
import( "AnnotationDbi" )
import( "Category" )
import( "parallel" )
import( "RColorBrewer" )
import( "Biobase" )
import( "colorspace" )
